<!DOCTYPE html>
<html>
<head>
    <title>Aptitude Test</title>
    <meta charset="utf-8" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/Aptitudestyle.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
    <script src="scripts/app/helperService.js"></script>
    <script src="scripts/app/aptitudetestctrl.js"></script>
</head>
<body class="container">
    <div ng-controller="testCtrl" ng-app="testApp">
        <div ng-show="isTestDate==true">
            <div class="header">
                <div class="row">
                    <div class="title">
                        <h1 class="center">Analytical and Aptitude Test</h1>
                        <hr />
                    </div>


                </div>
            </div>
            <div class="row" ng-show="mode=='instructions'">
                <div id="instruction" class="col-md-6">
                    <h4>Instructions:</h4>
                    <ul>
                        <li>Total number of questions : 10.</li>
                        <li>Time alloted : 30 minutes.</li>
                        <li>Each question carry 1 mark, no negative marks.</li>
                        <li>Test will be submitted automatically if the time expired.</li>
                        <li>Click on the below Start button to start the exam. </li>
                    </ul>
                    <div class="start">
                        <button class="btn btn-primary" ng-click="loadQuiz(questionUrl)">Start</button>
                    </div>
                </div>

            </div>
            <div ng-show="mode=='quiz'" class="row">
                <div id="timer" class="row pull-right"></div>
                <div ng-repeat="question in filteredQuestions">
                    <div class="label label-warning">Question {{currentPage}} of {{totalItems}}.</div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3>{{currentPage}}. <span ng-bind="question.Name"></span></h3>
                        </div>
                    </div>
                    <div class="row text-left options">
                        <div class="col-md-6" ng-repeat="option in question.Options">
                            <div class="option">
                                <label class="" for="{{option.Id}}">
                                    <input id="{{option.Id}}" type="checkbox" ng-model="option.Selected" ng-change="onSelect(question, option);" />
                                    {{option.Name}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class=" row quizNav">
                    <div>
                        <button class="btn btn-default" ng-show="currentPage!=1" ng-click="goTo(1);">First</button>
                        <button class="btn btn-default" ng-show="currentPage!=1" ng-click="goTo(currentPage - 1);">Prev</button>
                        <button class="btn btn-default" ng-show="currentPage!=totalItems" ng-click="goTo(currentPage + 1);">Next</button>
                        <button class="btn btn-default" ng-show="currentPage!=totalItems" ng-click="goTo(totalItems);">Last</button>
                    </div>
                    <!--<br />-->



                </div>
            </div>

            <div class="row" ng-show="mode=='review'">
                <div class="col-sm-4" ng-repeat="question in questions">
                    <div ng-click="goTo($index + 1)" class="{{ isAnswered($index) == 'Answered'? 'answered': 'not-answered' }}">{{$index + 1}}. {{ isAnswered($index) }}</div>
                </div>
            </div>

            <div class="result" ng-show="mode=='result'">
                <h2>Test Result</h2>
                <label>Score:{{score}}</label>
                <h4 class="alert alert-info text-center">You may close this window now.</h4>
            </div>

            <div ng-show="mode!='result' &&  mode=='quiz' || mode=='review'" class="row">
                <!--<div class="col-md-4">

            </div>-->
                <div class="col-sm-12">
                    <button class="btn btn-primary" ng-show="mode =='review'" ng-click="mode = 'quiz'">Quiz</button>
                    <button class="btn btn-primary" ng-show="currentPage==totalItems && mode=='quiz'" ng-click="mode = 'review'">Review</button>
                    <button class="btn btn-primary pull-right" ng-show="currentPage==totalItems || mode =='review'" ng-click="onSubmit();">Submit Quiz</button>
                </div>
            </div>
        </div>
        <div ng-show="isTestDate==false">
            <h3 class="label-warning msgWarning">The Aptitude test is accessible only on the allocated date.</h3>
        </div>
    </div>
</body>

</html>
