<div ng-controller="EmployeeConfirmationController" class="container">
    <div class="row well" >
        <div id="InterviewAvailability">
            <div>
                <b><label for="InterviewAvailabilitytext"></label></b>
                <span><b></b></span>
            </div>
            <div>
                <input type="radio" name="confirm" value="Yes" checked>Yes
                <br>
                <input type="radio" name="confirm" value="No">No
                <br><br>
                <input type="button" value="submit">
            </div>
        </div>
        <div class="row well" id="InterviewDates">
            <div>
                <span><b>No interview(s) are schedules to you</b></span>
            </div>
        </div>
    </div>
</div>