<div ng-controller="EmployeeConfirmationController" class="container">
    <div class="row well">
        <form name="thisForm" id="thisForm">
            <div id="InterviewAvailability">
                <div id="InterviewAvailabilitytext">
                </div>

                <div>
                    <input type="button" value="submit" ng-click="Submit(thisForm)">
                </div>
            </div>
        </form>
        <div class="row well" id="InterviewDates">
            <div>
                <span><b>No interview(s) are scheduled to you</b></span>
            </div>
        </div>
    </div>
</div>