    <div class="container" ng-controller="PanelSelectionController">
        <div class="row well">
            <div class="page-header">
                <h1>Panel Selection</h1>
            </div>
            <!--<div id="successMessage" class="row well">
                <h3 class="text-success">Add custom success message!</h3>
            </div>-->
            <div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="dateTimePickerCtrl" class="control-label col-xs-2">Interview Date</label>
                        <div class="col-xs-5">
                            <input type='text' class="form-control" name="dateTimePickerCtrl" id='dateTimePickerCtrl' ng-blur='ClearDateTimePickerError()' />
                            <script type="text/javascript">
                        $(function () {
                            $('#dateTimePickerCtrl').datetimepicker();
                        });
                            </script>
                        </div>
                        <div class="col-xs-5">
                            <label for='lbldateTimePickerCtrlError' class="text-left alert-danger"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="SelectPanel" class="control-label col-xs-2">Select Panel</label>
                        <div class="col-xs-5">
                            <angucomplete id="ex1" placeholder="Search Employee(s)" pause="100" selectedobject="selectedEmployee" localdata="empData"
                                          searchfields="name" titlefield="name" minlength="1" inputclass="form-control form-control-small"
                                          matchclass="highlight" />
                        </div>
                        <div class="col-xs-5">
                            <button id="btnAdd" class="btn-primary btn-sm" data-ng-click="selectEmployee()"><b>Add</b></button>
                            <label for='lblSelectPanelError' class="text-left alert-danger"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="SelectPanel" class="control-label col-xs-2"></label>
                        <div class="col-xs-5">
                            <select id="employeeSelected" multiple class="form-control">
                                <option value="" disabled>Select Employee(s) to Remove</option>
                            </select>
                        </div>
                        <div class="col-xs-5">
                            <button id="btnRemove" class="btn-primary btn-sm" data-ng-click="deleteEmployee()"><b>Remove</b></button>
                            <label for='lblRemovePanelError' class="text-left alert-danger"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-10">
                            <button type="submit" class="btn btn-primary" data-ng-click="sendEmail()">Send Email</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- end for class "row" -->
    </div><!-- end for class "container" -->



